@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 6px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;
    &+li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
  }
}

// end header
// start search

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}

.search__inner {
  padding-top: 155px;
  padding-bottom: 100px;
  color: #fff;
  text-align: center;
  &-title {
    font-size: 48px;
    margin-bottom: 10px;
    @include f700;
    line-height: 72px;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input{
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      padding-right: 60px;
      padding-left: 25px;
      &::placeholder{
        color: #90a4ae;
        @include f500;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}

// end search
// start products

.products{
  padding: 110px 0px;
  background-color: $grey;
}
.products__inner-btn{
  text-align: center;
  margin-bottom: 60px;
  button{
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button{
      margin-left: 5px;
    }
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

.products__inner-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img{
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    background-size: cover;
  }
  &-content{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    align-items: center;
    @include f500;
    background-color: #fff;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name{
    max-width: 310px;
  }
  &-title{
    font-size: 18px;
    color: $bg;
    display: block;
  }
  &-category{
    display: block;
    color: $green;
    font-size: 14px;
  }
  &-price{
    font-size: 20px;
    color: $bg;
    @include f700;
  }
  &-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
    background-color: #fff;
  }
  &-author{
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 14px;
    }
    span{
      font-size: 14px;
      @include f500;
    }
  }
  &-star{
    font-size: 12px;
    span{
      color: $bg;
    }
  }
}
.products__bottom-btn{
  text-align: center;
  button{
    margin: 45px 5px 0px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active{
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}
// end products
// start product-slider

.product-slider{
  padding: 110px 0px 120px;
  .slick-slide{
    max-width: 442px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px; 
  }
  .slick-dots{
    text-align: center;
    li{
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active{
        button{
          background-color: $green;
        }
      }
      button{
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

// end product-slider
// start advantages

.advantages{
  background-color: $bg;
  padding: 110px 0px;
}
.advantages__title{
  color: #fff;
  margin-bottom: 65px;
}
.advantages__inner{
  display: flex;
  justify-content: space-between;
}
.advantages__item{
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;
  &:hover{
    .advantages__item-images{
      background-color: $green;
    }
    .advantages__item-title{
      color: $green;
    }
    .advantages__item-images{
      g{
        fill: #fff;
      }
    }
  }
  &-images{
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all .5s;
  }
  &-title{
    color: #fff;
    margin-bottom: 25px;
    @include f500;
    font-size: 24px;
    transition: all .5s;
  }
  &-text{
    font-size: 15px;
    color: #b0bec5;
  }
}
.icosvg-1{
  img{
    width: 50px;
  }
}
.icosvg-2{
  img{
    width: 70px;
  }
}
.icosvg-3{
  img{
    width: 86px;
  }
}
// end advantages
// start author

.author{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: $green;
  }
  &__title{
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    margin-right: 45px;
    max-width: 262px;
    span{
      @include f700;
    }
  }
  &__link{
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}

// end author

// start tutorial

.tutorial{
  padding: 70px 0px 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item{
  &-images{
    min-height: 270px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
  }
  &-title{
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    @include f700;
    padding: 30px 10px;
    color: $bg;

  }
}
// end tutorial
// start footer
.footer{
  background-color: $bg;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
}
.footer__col{
  max-width: 270px;
  width: 100%;
  &-menu{
    max-width: 220px;
  }
  &-title{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 30px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text{
    color: #b7c3c8;
    margin-bottom: 30px;
  }
  &-info{
    margin-top: 18px;
    @include f500;
    color: #fff;
    padding-left: 30px;
    position: relative;
    &::before{
      content: '\f041';
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
    }
  }
}
.footer__info-phone{
  &::before{
    content: '\f095';
  }
}
.footer__copy{
  border-top: 1px solid #424d53; 
  &-text{
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0px;
  }
}
.footer__col-list{
  a{
    margin-bottom: 15px;
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    &::before{
      content: '\f105';
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
    }
  }
}
.footer__social-link{
  margin-bottom: 33px;
  li{
    display: inline-block;
    & + li{
      margin-left: 7px;
    }
  }
    a{
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}
.link-twitter{
  background-position: -0 -28px;
}
.link-youtube{
  background-position: -28px -28px;

}
.link-pinterest{
  background-position: -56px -0;
}
.link-linkedin{
  background-position: -28px -0;
}

.footer__form-title{
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
}
.footer__form {
  position: relative;
  input{
    background-color: #2f3c43;
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    padding-left: 15px;
    padding-right: 50px;
    &::placeholder{
      color: #697378;
    }
  }
  button{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;
    &::before{
      content: '\f124';
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
      position: absolute;
      left: 13px;
      top: 9px;
    }
  }
}
// end footer