@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register,
.header__btn-logout {
  background-color: $red;
  margin-left: 6px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }

  a {
    color: #fff;
    font-size: 14px;
  }
}

.header__circle {
  display: none;

  &.active {
    display: block;
  }

  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #f5f5f5;
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }

  span {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    color: #fff;
  }
}

.header__box {
  display: flex;
  align-items: center;
}

.header__btn-login--off {
  display: none;
}

.header__btn-logout {
  display: none;

  &.header__btn-login--on {
    display: block;
  }
}

.notification {
  span {
    background-color: $yellow;
  }
}

.message {
  span {
    background-color: $tomato;
  }
}

.basket {
  margin-right: 20px;
  span {
    background-color: $green;
  }
}

.user {
  margin-right: 25px;
  padding-right: 20px;
  position: relative;

  &::before {
    content: '\f107';
    position: absolute;
    font-family: 'icomoon';
    font-size: 16px;
    color: #707070;
    top: 0;
    right: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__images {
    width: 34px;
    height: 34px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__info {
    font-size: 14px;
    line-height: 24px;
  }

  &__name {
    @include f500;
    color: #222222;
  }

  &__money {
    color: $green;
    @include f700;
  }
}

.user__menu {
  top: 70px;
  left: 20px;
  border: 0px solid #ccc;
  background-color: #fff;
  position: absolute;
  padding: 0 20px;
  width: 158px;
  transition: all .3s;
  height: 0;
  overflow: hidden;
  z-index: 2;
  a {
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}

.user__box,
.basket__box,
.notification__box,
.message__box {
  position: relative;
  height: 90px;
  margin-top: 40px;

  &:hover {

    .user__menu {
      height: auto;
      border-width: 1px;
      padding: 20px;
      overflow: auto;
    }
  }
}

.circle__menu {
  border: 0px solid #ccc;
  position: absolute;
  top: 62px;
  right: 0px;
  border-top: 1px solid #e0e0e0;
  height: 0;
  overflow: hidden;
  transition: all .3s;
  z-index: 2;
}

.basket__box,
.notification__box,
.message__box {
  margin-top: 54px;
  margin-left: 15px;

  &:hover {
    .header__circle::before {
      color: $bg;
    }

    .circle__menu {
      height: auto;
      overflow: hidden;
    }

    .circle__item {
      padding: 23px;
      border-width: 1px;
    }

  }
}

.circle__item {
  background-color: #fff;
  padding: 0 23px;
  border: 0px solid #e0e0e0;
  border-left-width: 1px;
  border-left-width: 1px;
  border-top: none;
  display: flex;
  align-items: center;
  width: 269px;
  position: relative;
  transition: all .3s;

  &::before {
    position: absolute;
    top: 27px;
    right: 28px;
    color: #b0bec5;
    font-size: 16px;
  }
}

.circle__images {
  margin-right: 15px;
}

.circle__info {
  &-name {
    @include f500;
    color: $bg;
  }

  &-theme {
    font-size: 12px;
    color: $green;
  }

  &-price {
    @include f500;
    color: #000;
    font-size: 16px;
  }

  &-date {
    color: #707070;
    font-size: 10px;
  }
}

.basket__summ {
  padding: 17px 17px 13px;
  border: 1px solid #e0e0e0;
  border-top: none;
  background-color: #fff;

  &-title {
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    @include f700;
    font-size: 16px;
    color: $bg;
  }

  &-btn {
    color: #fff;
    @include f700;
    font-size: 14px;
    padding: 10px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;
  }

  &-btn-checkout {
    background-color: $red;
    width: 123px;
    margin-left: 5px;
  }
}

.notification__menu,
.message__menu {
  .circle__images {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%
  }

  .circle__info {
    line-height: 18px;
    font-family: 'Roboto-Regular', sans-serif;
  }
}

.icons-color::before {
  color: $tomato;
}

.header__btn-menu,
.menu__btn {
  display: none;
}

// end header
// start search

.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;

  &.page-search {
    min-height: 230px;

    .search__inner {
      padding: 55px 0px 70px;

      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  padding-top: 155px;
  padding-bottom: 100px;
  color: #fff;
  text-align: center;

  &-title {
    font-size: 48px;
    margin-bottom: 10px;
    @include f700;
    line-height: 72px;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      padding-right: 60px;
      padding-left: 25px;

      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}

// end search
// start products

.products {
  padding: 110px 0px;
  background-color: $grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;

    &+button {
      margin-left: 5px;
    }

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;

  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center center;
    background-size: cover;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    align-items: center;
    @include f500;
    background-color: #fff;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
  }

  &-title {
    font-size: 18px;
    color: $bg;
    display: block;
  }

  &-category {
    display: block;
    color: $green;
    font-size: 14px;
  }

  &-price {
    font-size: 20px;
    color: $bg;
    @include f700;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
    background-color: #fff;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 14px;
    }

    span {
      font-size: 14px;
      @include f500;
    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;

  button {
    margin: 45px 5px 0px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;

    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}

// end products
// start product-slider

.product-slider {
  padding: 110px 0px 120px;

  .slick-slide {
    max-width: 442px;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .slick-dots {
    text-align: center;

    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;

      &.slick-active {
        button {
          background-color: $green;
        }
      }

      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

// end product-slider
// start advantages

.advantages {
  background-color: $bg;
  padding: 110px 0px;
}

.advantages__title {
  color: #fff;
  margin-bottom: 65px;
}

.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;

  &:hover {
    .advantages__item-images {
      background-color: $green;
    }

    .advantages__item-title {
      color: $green;
    }

    .advantages__item-images {
      g {
        fill: #fff;
      }
    }
  }

  &-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all .5s;
  }

  &-title {
    color: #fff;
    margin-bottom: 25px;
    @include f500;
    font-size: 24px;
    transition: all .5s;
  }

  &-text {
    font-size: 15px;
    color: #b0bec5;
  }
}

.icosvg-1 {
  img {
    width: 50px;
  }
}

.icosvg-2 {
  img {
    width: 70px;
  }
}

.icosvg-3 {
  img {
    width: 86px;
  }
}

// end advantages
// start author

.author {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }

  &__title {
    font-size: 30px;
    line-height: 36px;
    color: #ffffff;
    margin-right: 45px;
    max-width: 262px;

    span {
      @include f700;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}

// end author

// start tutorial

.tutorial {
  padding: 70px 0px 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    width: 100%;
  }
}

.tutorial__item {
  &-images {
    min-height: 270px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-title {
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    @include f700;
    padding: 30px 10px;
    color: $bg;

  }
}

// end tutorial
// start footer
.footer {
  background-color: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
}

.footer__col {
  max-width: 270px;
  width: 100%;

  &-menu {
    max-width: 220px;
  }

  &-title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 30px;
    color: #fff;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }

  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }

  &-info {
    margin-top: 18px;
    @include f500;
    color: #fff;
    padding-left: 30px;
    position: relative;

    &::before {
      content: '\f041';
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
    }
  }
}

.footer__info-phone {
  &::before {
    content: '\f095';
  }
}

.footer__copy {
  border-top: 1px solid #424d53;

  &-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0px;
  }
}

.footer__col-list {
  a {
    margin-bottom: 15px;
    color: #b7c3c8;
    padding-left: 22px;

    &::before {
      font-size: 18px;
    }
  }
}

.footer__social-link {
  margin-bottom: 33px;

  li {
    display: inline-block;

    &+li {
      margin-left: 7px;
    }
  }

  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);
  }
}

.link-twitter {
  background-position: -0 -28px;
}

.link-youtube {
  background-position: -28px -28px;

}

.link-pinterest {
  background-position: -56px -0;
}

.link-linkedin {
  background-position: -28px -0;
}

.footer__form-title {
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
}

.footer__form {
  position: relative;

  input {
    background-color: #2f3c43;
    border: none;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    padding-left: 15px;
    padding-right: 50px;

    &::placeholder {
      color: #697378;
    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;

    &::before {
      content: '\f124';
      font-family: 'icomoon';
      color: #fff;
      font-size: 20px;
      position: absolute;
      left: 13px;
      top: 9px;
    }
  }
}

// end footer
// start product-page

.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}

.product-page__aside {
  margin-right: 30px;
}

.aside__item {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0px 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}

.aside__title {
  border-bottom: 1px solid #dde3e8;
  color: $bg;
  font-size: 20px;
  @include f700;
  padding: 22px 0px 19px;
}

.category__list {
  padding-top: 10px;

  li {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      font-size: 18px;
    }
  }

  a {
    color: $bg;
  }

  span {
    color: #90a4ae;
    margin-left: 10px;
  }
}

.price-range {
  form {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  button {
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    color: #ffffff;
    @include f500;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    position: relative;

    &::before {
      content: '\f002';
      font-family: 'icomoon';
      color: #fff;
      font-size: 15px;
      position: absolute;
      left: 58px;
      top: 15px;
    }
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  background-color: $bg;
  height: 5px;
}

.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  background-color: #ffffff;
  border-radius: 50%;
  top: 19px;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
}

.product-page__aside {
  .product__item-img {
    min-height: 120px;
    border: none;
  }

  .product__item {
    box-shadow: none;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dde3e8;
  }

  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }

  .product__item-info {
    padding: 0;
    min-height: 0;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-price {
    font-size: 16px;
  }

  .product__item-starnum {
    display: none;
  }

  .rate-star {
    margin-right: 0;
  }

  .product__item-author .avatar {
    margin-right: 9px;
  }

  .js-ry-container {
    padding: 0;
  }
}

.aside__product-item {
  .product__item:last-child {
    border: none;
    padding-bottom: 0;
  }

  .product__item:first-child {
    margin-top: 25px;
  }
}

.top-sellers__link {
  padding: 16px 10px;
  display: block;
  background-color: $green;
  color: #fff;
  @include f500;
  text-align: center;
}

.product-page__filter {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  padding: 0px 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    outline: none;

    &.active {
      color: $green;
    }
  }
}

.product-page__filter-sort {
  color: #707070;
  font-size: 14px;
  display: flex;
  align-items: center;
}

button.icon-sort-amount-desc {
  font-size: 18px;
  color: #455a64;
}

button.icon-unsorted {
  font-size: 14px;
  color: #707070;
}

.product-page__content {
  width: 100%;
}

.product-page__content {
  .product__item {
    max-width: 270px;
    opacity: 1;
    transition: all .3s;
  }

  .product__item-img {
    min-height: 175px;
  }

  .product__item-content {
    padding: 10px 20px;
  }

  .product__item-title {
    font-size: 16px;
  }

  .product__item-info {
    min-height: 65px;
    padding: 10px 20px;
  }

  .rate-star {
    margin-right: 0px;
  }

  .js-ry-container {
    padding: 0;
  }
}

.product-page__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.pagination__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 6px;
    }
  }

  a,
  span {
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, .75);
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    font-size: 16px;
    color: $bg;
    @include f500;

    &.active {
      background-color: $red;
      color: #fff;
    }
  }
}

.product__item-text {
  display: none;
}

.product__item-price {
  span {
    display: none;
  }
}

.poduct__item-list {
  display: none;

  .icon-comment-o,
  .icon-heart-o {
    display: inline-block;
    font-size: 12px;
    color: #70838d;
    padding-left: 50px;
    border-left: 1px solid #aeb4bb;
    position: relative;

    span {
      color: $bg;
      @include f500;
    }

    &::before {
      font-size: 16px;
      color: $green;
      position: absolute;
      left: 15px;
      top: -2px;
    }
  }

  .icon-comment-o {
    padding-right: 30px;
  }
}

.product-page__items .product__item {
  &.list {
    max-width: 100%;

    .product__item-img {
      width: 240px;
      float: left;
      min-height: 100%;
    }

    .product__item-info {
      min-height: 85px;
    }

    .product__item-text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }

    .product__item-price {
      font-size: 30px;

      span {
        margin-top: 30px;
        display: block;
        font-size: 13px;
        color: #aeb4bb;
      }
    }

    .product__item-name {
      max-width: 400px;
    }

    .product__item-content {
      padding-top: 23px;
    }

    .poduct__item-list {
      display: block;
    }

    .product__item-star {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}

// end product-page



@import 'media';