html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  background-color: green;
  font-size: 29px;
  padding: 50px;
}
.box  {
  display: none;
  transition: all 3s;
}